<%- model_class = @option.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>

<div class="row">
	<div class="span6">
		<%= render 'form' %>
	</div><!-- .span6 -->
	<div class="span6" id="description">
		
	</div><!-- .span6 -->
</div><!-- .row -->

